body, html {
    font-family: 'MarianinaFY', monospace;
    font-weight: bold;
    font-style: normal;
    color: #1E1E1C;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-theme-color: #EB5C3B;;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.bottom-logo {

    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom-logo img {
    width: 100%;
    max-width: 400px;

}

h3 {
    color: #EB5C3B;
}

.section.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.section.header .logo {

    width: 120px;
}

.section.header .claim {
    margin-left: auto;
    width: 120px;
}


.section.swipe {

    overflow: hidden;
    /*height: 500px;*/
}

.section.content {
    display: flex;
}

.section.content .content-item-item {
    display: inline-block;
}

.section.bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

/*SWIPER*/
.swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.4rem;
}

.address {

}

.strpeni {
    max-width: 220px;
    text-align: justify;
}

.kontakt {
    margin-left: auto;
}


.aspect-ratio-container {
    background-color: red;
    width: 100%;
    padding-top: 65%;
    /*padding-top: 100%; !* 1:1 Aspect Ratio *!*/
    position: relative; /* If you want text inside of it */
}

.aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.aspect-ratio-container .aspect-ratio-content img {
    width: 100%;
}


