body, html {
    font-family: 'MarianinaFY', monospace;
    font-weight: bold;
    font-style: normal;
    color: #1E1E1C;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-theme-color: #EB5C3B;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #EDEDED;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #EB5C3B;
}

.main {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    position: relative;
}

.bottom-logo {

    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.bottom-logo img {
    width: 100%;
    max-width: 400px;
}

h3 {
    margin-top: 0;
    color: #EB5C3B;
    text-decoration: none;
}

.section.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.section.header .logo {

    width: 120px;
}

.section.header .claim {
    margin-left: auto;
    width: 120px;
}

.section.swipe {
    overflow: hidden;
}

.section.content {
    display: flex;
}

.section.content .content-item-item {
    display: inline-block;
    text-decoration: underline;
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.strpeni-content {
    text-decoration: underline;
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.section.bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.sssss {
    width: 100%;
}

/*SWIPER*/
.swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.4rem;
}

.address {
    text-decoration: underline;
    line-height: 1.2rem;
    font-size: 0.9rem;
    min-width: 12rem;
}

.strpeni {
    max-width: 220px;
    text-align: justify;
}

.kontakt {
    margin-left: auto;
}

.kontakt a {
    display: block;
    color: #1E1E1C;
}

.stavario {
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.stavario img {
   margin-left: 1em;
}

.aspect-ratio-container {
    background-color: #eeeeee;
    width: 100%;
    padding-top: 65%;
    /*padding-top: 100%; !* 1:1 Aspect Ratio *!*/
    position: relative; /* If you want text inside of it */
}

.aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.aspect-ratio-container .aspect-ratio-content img {
    width: 100%;
}

.divider {
    display: none;
}

@media only screen and (max-height: 1200px) {

    .main {
        max-width: 960px;
    }
}

@media only screen and (max-height: 800px) {

    .main {
        max-width: 680px;
    }
}

@media only screen and  (max-height: 640px) {

    .main {
        max-width: 440px;
    }
}

@media only screen and (max-width: 800px), (max-height: 640px) {

    body {
        padding-bottom: 8rem;
    }

    .section.content .content-item {
        max-width: 220px;
        margin: 0 auto;
    }

    .section.content,
    .section.content .content-item,
    .section.content .content-item-item {
        display: block;
    }

    .content-item-item {
        padding-bottom: 2rem;
    }

    .divider {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
        margin: 3rem 0;
    }

    .section.header {
        padding: 1rem 2rem;
    }
}




